body{
  background-color: grey;
}
.center{
  width:400px;
  margin: 0 auto;
}
input{
  font-size: 20px;
}
button{
  font-size: 20px;
}

h2{
  font-size: 10px;
}
.container{


text-align:center;
    width: 480px;
    margin: 20px auto auto auto;
    border: 1px solid lightgray;
    border-radius: 14px;
    padding: 10px;
    display: flex;
gap: 20px;
background-color: white;

}
